<main class="container" id="app">
    <h2>Book Catalogue</h2>

    <table class="table table--bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>Year 🔽</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(book, index) in sortedBooks" :key="index">
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.category }}</td>
                <td>{{ book.year }}</td>
                <td>{{ book.rating }}</td>
            </tr>
        </tbody>
    </table>
</main>
